
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2;
    
}
.hero__picture {
    width: 100px;
    height:100px;
    border-radius: 50%;
    
}

.hero__subtitle{
    color: var(clr--slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}
.hero__title{
    color: var(clr--400slate);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}
.hero__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.hero__btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}


/* XS */
@media (min-width: 475px){
    .hero {
        gap: 1.5rem;
        
        
    }
    .hero__picture {
        width: 120px;
        height:120px;        
    } 
    .hero__subtitle{
        font-size: var(--size-lg);
    }
    .hero__title{
        font-size: var(--size-5xl);
    }
    .hero__description{
        font-size: var(--size-base);
    }
    
    .hero__btn{
        text-transform: capitalize;
        font-size: var(--size-);
    }
}
/* SM */
/* @media (min-width: 640px){} */
/* MD */
/* @media (min-width: 768px){} */
/* LG */
@media (min-width: 1024px){
    .hero__picture {
        width: 150px;
        height:150px;        
    } 
    .hero__subtitle{
        font-size: var(--size-2xl);
    }
    .hero__title{
        font-size: var(--size-7xl);
    }
    .hero__description{
        font-size: var(--size-lg);
    }
    
    .hero__btn{
        text-transform: capitalize;
        font-size: var(--size-lg);
    }
}   
/* xL */
@media (min-width: 1280px){
    .hero{
        gap: 2rem;
    }
    .hero__picture {
        width: 200px;
        height:200px;        
    } 
    .hero__subtitle{
        font-size: var(--size-4xl);
    }
    .hero__title{
        font-size: var(--size-9xl);
    }
    .hero__description{
        font-size: var(--size-xl);
    }
    
    .hero__btn{
        text-transform: capitalize;
        font-size: var(--size-lg);
    }
}
/* 2xL */
/* @media (min-width: 1536px){}  */
